<p>
  <strong>Project:</strong>
  <%= @project.name %>
</p>

<h2>Lists</h2>
<% @project.lists.each do |list| %>
	<p>
		<%= list.name %>
	</p>
<% end %>

<h2>Add a new List</h2>
<%= form_for([@project, @project.lists.build]) do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_area :name>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>

<%= link_to 'Projects', projects_path %>
