<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1>Mein Profil <small><%= "#{current_user.firstname}  #{current_user.lastname}" %></small></h1>
      <ol class="breadcrumb">
        <li><%= link_to '<i class="fa fa-dashboard"></i> Dashboard'.html_safe , root_path %></li>
        <li class="active"><i class="fa fa-user"></i> Mein Profil</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
    <h3>Profildaten ändern</h3>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-4 col-sm-8">
      <%= link_to ("http://www.gravatar.com/emails/"), {:'data-toogle' => 'tooltip', :title => 'Profilbild auf Gravatar ändern'} do %>
        <%= image_tag avatar_url(current_user,150), :size => "150", :class => "pull-left" %>
        <% end %>
      </div>      
    </div>
    <div class="<%= field_class(@user, :firstname)%>" >
      <label for="inputFirstname" class="col-sm-4 control-label">Vorname</label>
      <div class="col-sm-8">
        <%= f.text_field :firstname, :autofocus => true, :placeholder => 'Vorname', :id => "inputFirstname", :class => "form-control"  %>
        <%# validation handling %>
        <div class="validation-group text-danger">
          <% @user.errors.full_messages_for(:firstname).each do |msg| %>
            <%= msg %>
          <% end %>
        </div>
      </div>
    </div>
    

    <div class="<%= field_class(@user, :lastname)%>">
      <label for="inputLastname" class="col-sm-4 control-label">Nachname</label>
      <div class="col-sm-8">
        <%= f.text_field :lastname, :placeholder => 'Nachname', :id => "inputLastname", :class => "form-control"  %>
        <%# validation handling %>
        <div class="validation-group text-danger">
         <% @user.errors.full_messages_for(:lastname).each do |msg| %>
            <%= msg %>
         <% end %>
        </div>
      </div>
    </div>

    

    <div class="<%= field_class(@user, :email)%>">
      <label for="inputEmail" class="col-sm-4 control-label">E-Mail</label>
      <div class="col-sm-8">
        <%= f.email_field :email, :id => "inputEmail", :class => "form-control"  %>
        <%# validation handling %>
        <div class="validation-group text-danger">
          <% @user.errors.full_messages_for(:email).each do |msg| %>
           <%= msg %>
          <% end %>
        </div>
      </div>
    </div>

    

    <div class="<%= field_class(@user, :password)%>">
      <label for="inputNewPassword" class="col-sm-4 control-label">Neues Passwort</label>
      <div class="col-sm-8">
        <%= f.password_field :password, :placeholder => 'Passwort (min. 6 Zeichen)', :id => "inputNewPassword", :class => "form-control"  %>
        <%# validation handling %>
        <div class="validation-group text-danger">
          <% @user.errors.full_messages_for(:password).each do |msg| %>
           <%= msg %>
          <% end %>
        </div>        
      </div>
    </div>


    <div class="<%= field_class(@user, :password_confirmation)%>">
      <label for="inputConfirmNewPassword" class="col-sm-4 control-label">Passwort wiederholen</label>
      <div class="col-sm-8">
        <%= f.password_field :password_confirmation, :placeholder => 'Passwort wiederholen', :id => "inputConfirmNewPassword", :class => "form-control"  %>
         <%# validation handling %>
        <div class="validation-group text-danger">
          <% @user.errors.full_messages_for(:password_confirmation).each do |msg| %>
            <%= msg %>
          <% end %>
        </div>
      </div>
    </div>

   

    <div class="<%= field_class(@user, :current_password)%>">
      <label for="inputConfirmOldPassword" class="col-sm-4 control-label">Aktuelles Passwort</label>
      <div class="col-sm-8">
        <%= f.password_field :current_password, :placeholder => 'Mit aktuellem Passwort bestätigen', :id => "inputConfirmOldPassword", :class => "form-control"  %>
        <%# validation handling %>
        <div class="validation-group text-danger">
          <% @user.errors.full_messages_for(:current_password).each do |msg| %>
            <%= msg %>
          <% end %>
       </div>
      </div>
    </div>

    

    <div class="form-group text-danger">
      <div class="col-sm-offset-4 col-sm-8">
        <%= f.submit "Aktualisieren", :class => "btn btn-success" %>
      </div>
    </div>
    
<% end %>

  </div><!-- ./col -->
  <div><!-- Zweite Seitenspalte --></div>
</div><!-- ./row -->
<hr>
<h3>Account löschen</h3>

<p>Sie wollen Ihren Account endgütig löschen? <%= button_to "Diesen Account löschen", registration_path(resource_name), :data => { :confirm => "Wenn Sie auf OK klicken wird ihr Account mit allem Projekten gelöscht. Sie haben dann keinen Zugriff mehr auf ihre Projekte oder Projekte auf denen Sie Mitglied waren. Möchten Sie fortfahren?" }, :class => 'btn btn-danger' , :method => :delete %></p>

</div>

