<div class="border-form-div">
  <h2>Registrieren</h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.text_field :firstname, :autofocus => true, :placeholder => 'Vorname'  %>
    <%= f.text_field :lastname, :autofocus => true, :placeholder => 'Nachname'  %>
    <%= f.email_field :email, :placeholder => 'E-Mail' %>
    <%= f.password_field :password, :placeholder => 'Passwort' %>
    <%= f.password_field :password_confirmation, :placeholder => 'Passwort wiederholen' %>
    <%= f.submit "Registrieren",:class=>'btn btn-primary' %>
  <% end %>
  <%= render "devise/shared/links" %>
</div>

