  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8"><h3>Gelöscht <small>(Gesamt: <%= current_user.mailbox.trash.count %> | Ungelesen: <%= current_user.mailbox.trash(:read => false).count(:id, :distinct => true).to_s %>)</small></h3></div>
    <div class="col-lg-2"></div>
  </div>
  
  <div class="row">
    <%= render "conversations/list_group" %>
    
  
   
    <div class="col-lg-10">
      
      <div class="table-responsive">
        <table class="table table-hover table-striped"> 
          <tr>
            <tr>
            <th><input type="checkbox"></th>
            <!-- <th></th> -->
            <th>Thema</th>
            <th></th>
            <th>Letzte Nachricht</th>
            <th>Themenstarter</th>
            <th><%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_conversation_path, {:'data-toogle' => 'tooltip', :title => 'Neue Konversation beginnen', :class => 'text-weak'}%></th>
            <th><%= link_to '<i class="fa fa-undo"></i>'.html_safe, {}, {:'data-toogle' => 'tooltip', :title => 'Ausgewählte in den Posteingang verschieben', :class => 'text-weak'}%></th>
            <th><%= link_to '<i class="fa fa-trash-o text-danger"></i>'.html_safe, {}, {:'data-toogle' => 'tooltip', :title => 'Ausgewählte entgültig löschen', :class => 'text-weak'}%></th>
          </tr>
          <% current_user.mailbox.trash.order('updated_at ASC').each do |conversation|%>
          <% @Originator = User.where(email: conversation.originator.email).first%>
          <% @last_sender = User.where(email: conversation.last_sender.email).first%>
          <tr>
            <td><input type="checkbox"></td>
           <!--  <td><% if conversation.is_unread?(current_user) %><%= link_to '<i class="fa fa-envelope"></i>'.html_safe, conversation_mark_as_read_path(conversation),  :method => :post, :id => conversation.id, :class => 'black-link' %><% else %><%= link_to '<i class="fa fa-envelope-o text-weak"></i>'.html_safe, conversation_mark_as_unread_path(conversation),  :method => :post, :id => conversation.id %><% end %></td> -->
            <td><%= link_to conversation.subject, conversation_path(conversation), :method => :get %></td>
            <td><%= image_tag avatar_url(@last_sender,50), :size => "50", :class => 'pull-right' %></td>
            <td><em><strong> <%= @last_sender.firstname %> <%= @last_sender.lastname %></strong> schreibt:</em><br> <%=raw truncate(conversation.last_message.body, :length => 40,  :omission => "...")%></td>
            <td><%= @Originator.firstname %> <%= @Originator.lastname %></td>
            <td><%= link_to '<i class="fa fa-mail-reply"></i>'.html_safe, conversation_path(conversation), {:'data-toogle' => 'tooltip', :title => 'Antworten', :class => 'text-weak'}%></td>
            <td><%= link_to '<i class="fa fa-undo"></i>'.html_safe, conversation_untrash_path(conversation), :method => :post, :'data-toogle' => 'tooltip', :title => 'In den Posteingang verschieben', :class => 'text-weak'%></td>
            <td><%= link_to '<i class="fa fa-trash-o text-danger"></i>'.html_safe, conversation_delete_path(conversation), :method => :delete, :confirm=>'Möchten Sie die Konversation wirklich entgütig löschen?', :'data-toogle' => 'tooltip', :title => 'Entgültig löschen'%></td>
          </tr>
          
          <% end %>
        </table>
      </div>
    </div>
  </div>
