
Inbox: <%= current_user.mailbox.inbox.count %> Send: <%= current_user.mailbox.sentbox.count %>

<%= form_for :conversation, url: :conversations do |f| %>
<div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= f.email_field :recipients, :autofocus => true, :class=>'form-control', :placeholder => 'E-Mail' %>
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <%= f.text_field :subject,:class=>'form-control', :placeholder => 'Subject' %>
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <%= f.text_area :body,:class=>'form-control', :placeholder => 'body' %>
    </div>
<%= f.submit "Anmelden", :class=>'btn btn-primary'%>
<% end %>


---
<% mailbox.inbox.each do |conversation| %>
  <%= link_to conversation.subject, conversation%>
<% end %>
---

<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1>Dashboard <small><%= current_user.firstname %> <%= current_user.lastname %></small></h1>
      <ol class="breadcrumb">
        <li><%= link_to '<i class="fa fa-dashboard"></i> Dashboard'.html_safe , root_path %></li>
        <li><i class="fa fa-envelope"></i> Nachrichten</li>
      </ol>
    </div>
  </div><!-- /.row -->
  
  <div class="row">
    <div class="col-lg-2">
      <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-envelope"></i> Posteingang</li>
        <li class="list-group-item"><i class="glyphicon glyphicon-send"></i> Postausgang</li>
        <li class="list-group-item"><i class="fa fa-trash-o"></i> Papierkorb</li>
      </ul>
    </div>
    <div class="col-lg-8">
      <h3>Konversationen</h3>
      <div class="table-responsive">
        <table class="table table-hover table-striped"> 
          <tr>
            <th><input type="checkbox"></th>
            <th>Thema</th>
            <th>Gestartet durch</th>
            <th>Gestartet am</th>
            <th>Letzte Nachricht</th>
            <th></th>
          </tr>
          <% current_user.mailbox.inbox.order('updated_at ASC').each do |conversation|%>
          <tr>
            <td><input type="checkbox"></td>
            <td><%= conversation.subject %></td>
            <td><%= conversation.subject %></td>
            <td><%= conversation.subject %></td>
            <td><%= conversation.subject %></td>
            <td><%=raw truncate(conversation.last_message.body, :length => 40,  :omission => "...")%></td>
          </tr>
          <% end %>
    </table>
    <%= link_to 'Neues Projekt erstellen', new_project_path, :class => 'btn btn-default' %>
  </div>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
</div>