<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1>Nachrichten <small>Neue Konversation</small></h1>
      <ol class="breadcrumb">
        <li><%= link_to '<i class="fa fa-dashboard"></i> Dashboard'.html_safe , root_path %></li>
        <li><%= link_to '<i class="fa fa-envelope"></i> Konversation'.html_safe , conversations_path %></li>
        <li><i class="fa fa-comments"></i> Neue Konversation</li>
      </ol>
    </div>
  </div><!-- /.row -->

<%= form_for :conversation, url: :conversations do |f| %>
<div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= f.email_field :recipients, :autofocus => true, :class=>'form-control', :placeholder => 'E-Mail' %>
    </div>
    <div class="input-group">
      
      <%= f.text_field :subject,:class=>'form-control', :placeholder => 'Thema' %>
    </div>
    <div class="input-group">
      
      <%= f.text_area :body,:class=>'form-control', :placeholder => 'Nachricht' %>
    </div>
<%= f.submit "Absenden", :class=>'btn btn-primary'%>
<% end %>

</div>