<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1><%= conversation.subject%> <small>Nachrichten</small></h1>
      <ol class="breadcrumb">
        <li><%= link_to '<i class="fa fa-dashboard"></i> Dashboard'.html_safe , root_path %></li>
        <li><%= link_to '<i class="fa fa-envelope"></i> Nachrichten'.html_safe , conversations_path %></li>
        <li><i class="fa fa-comments"></i> <%= conversation.subject%></li>
      </ol>
    </div>
  </div><!-- /.row -->
  
  <div class="row">
    <div class="col-lg-2">
      <div class="list-group">
        <%= link_to '<i class="fa fa-mail-reply"></i> Antworten'.html_safe, conversations_path, :class => 'list-group-item' %>
        <%= link_to '<i class="fa fa-mail-reply-all"></i> Allen antworten'.html_safe, conversations_path, :class => 'list-group-item' %>
        <%= link_to '<i class="fa fa-mail-forward"></i> Weiterleiten'.html_safe, conversations_path, :class => 'list-group-item' %>
        <%= link_to '<i class="fa fa-envelope"></i> Als Ungelesen markieren'.html_safe, conversations_path, :class => 'list-group-item' %>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="row">
        <% conversation.receipts_for(current_user).each do |receipt| %>
          <% message = receipt.message%>
          <% conversation.mark_as_read(current_user) %>
         <% @sender = User.where(email: message.sender.email).first %>
        <div cass="col-lg-3">
          
        </div>
        <div class="col-lg-9">
          <div class="panel panel-default">
            <div class="panel-heading">
               <span class="panel-title"><%= @sender.firstname %> <%= @sender.lastname%></span>
            </div>
            <div class="panel-body">
              <%= message.body %>
            </div>
          </div><!-- /.Panel -->
        </div>
     </div><!-- /.row -->
    <% end %>
    </div>
  </div><!-- /.row -->
  
</div><!-- /.page-wrapper -->


