<!-- Settingsmodal --> 
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="settingsModalLabel">Projekteinstellungen</h4>
			</div>
			
			<div class="modal-body">
        
				<!-- Display long batches of the users who are added the current in the project -->
				<% @project.users.each_with_index do |user| %>     
					<div class="user-batch">
						<%= image_tag avatar_url(user, 30), :class => "user-image" %>
						<div class="user-name">
							<%= user.firstname %> <%= user.lastname %>
						</div>
					</div>
				<% end %><%# /User batch %>
			
				<!-- add a new user to the project -->
				<% @user = ProjectsUsers.where("user_id =? and project_id=?", current_user, @project.id).first %>
				<% if @user.role == "author" %>
					<%= form_tag project_add_user_path(@project.id) do %>
					<div class="form-group"> <br>
						<label for="exampleInputEmail1">Benutzer hinzufügen</label>
						<%= text_field_tag :user_email, nil, :class => "form-control", :placeholder => 'E-Mail' %>
						</div>

					<%= submit_tag "Hinzufügen", :class=>'btn btn-primary' if @user.role == "author"%> <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
					</div>
				  <% end %>
				<% end %>
        <hr>
        <% @user = ProjectsUsers.where("user_id =? and project_id=?", current_user, @project.id).first %>
        <% if @user.role == "author" %>
          <%= link_to 'Projekt löschen', project_path(:project_id => @project), method: :delete, :confirm => "Soll das Projekt wirklich gelöscht werden?", :class => 'btn btn-danger' %>
        <% end %>

			<div class="modal-footer">        
			</div><!-- /.modal-footer -->
			
		</div><!--/.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
