<!-- Settingsmodal --> 
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="settingsModalLabel">Projekteinstellungen</h4>
			</div>
			
			<div class="modal-body">
        <label>Projektteilnehmer</label><br>
				<!-- Display long batches of the users who are added the current in the project -->
				<% @project.users.each_with_index do |user| %>     
					<div class="user-batch">
						<%= image_tag avatar_url(user, 30), :class => "user-image" %>
						<div class="user-name">
							<%= user.firstname %> <%= user.lastname %>
						</div>
					</div>
				<% end %><%# /User batch %>
			
				<!-- add a new user to the project -->
				<% @user = ProjectsUsers.where("user_id =? and project_id=?", current_user, @project.id).first %>
				<% if @user.role == "author" %>
					<%= form_tag project_add_user_path(@project.id) do %>
					<div class="form-group">
						<label for="exampleInputEmail1">Benutzer hinzufügen</label>
						<%= text_field_tag :user_email, nil, :class => "form-control", :placeholder => 'E-Mail' %>
						</div>

					<%= submit_tag "Hinzufügen", :class=>'btn btn-primary' if @user.role == "author"%>
					
				  <% end %>
				<% end %><%# IF User is author%>
        
        <hr>

				<!-- leave current Project -->
        <% if @user.role != "author" %>
				<%= form_tag project_remove_user_path(@project.id) do  %>
        <div class="form-group">
					<%= submit_tag "Projekt verlassen", :class=>'btn btn-danger'%>
					</div>
				<% end %><%# /leave current project form%>
        <% else %>
        <form role="form">
          <div class="form-group">
            <%= link_to 'Projekt löschen', project_path(:project_id => @project), method: :delete, :confirm => "Soll das Projekt wirklich gelöscht werden?", :class => 'btn btn-danger' %>
          </div>
        </div>
        <% end %><%# /leave current project%>

        
      </div>


			
		</div><!--/.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
