<h1>New Project</h1>

<%= link_to 'Abort', projects_path %>

<!-- Form that will submit name to create action of projects controller  -->
<%= form_for :project, url: projects_path do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
    </p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
