<div i class=""id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1><%= @project.name %> <small>Organisation</small></h1>
		
			<ol class="breadcrumb">
				<li><%= link_to '<i class="fa fa-dashboard"></i> Dashboard'.html_safe , root_path %></li>
				<li><%= link_to '<i class="fa fa-clipboard"></i> Meine Projekte'.html_safe , projects_path %></li>
				<li class="active"><i class="fa fa-clipboard"></i> <%= @project.name %></li>
				<span class="pull-right"><a class="text-weak" data-toggle="modal" data-target="#settingsModal"><i class="fa fa-gear"></i></a></span>
			</ol>
		</div>
	</div>  
		  
	<!-- Show Lists and Tasks -->
	<div class="row">
		<!-- counter for css style elements in the loop -->
		<% n = 0 %>

		<!-- iterates over all list elements in this project and renders them with their tasks -->
		<% @lists.each do |list| %>	

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">	
			
				<!-- div element for the complete list -->
				<div class="well well-lg" >
					
					<!-- div "header" -->
					
					<!-- TODO: replace with drag and drop -->
					<%= link_to '<i class="fa fa-arrow-circle-left"></i>'.html_safe, list_move_down_path(:list_id => list), :method => :POST if list != @lists.first %>
					<%= link_to '<i class="fa fa-arrow-circle-right"></i>'.html_safe, list_move_up_path(:list_id => list), :method => :POST if list != @lists.last %>
					
					<!-- list header, changes to input field for list name on click -->
					<h4> <strong class="list-title" onClick = "updateList(this, <%= list.id%>);"><%= list.name %></strong>
						<a class="text-weak" onClick = "toggleList(this, 'list<%= list.id %>')"><i class="fa fa-chevron-down"></i></a>
					  
						<div class="dropdown pull-right">
						
							<!-- settings for the list. Allows to add a new task and delete the whole list -->
							<button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span class="fa fa-bars"></span></button>
							
							<ul class="dropdown-menu" role="menu">
								<li role="presentation"><%= link_to 'Aufgabe anlegen', project_list_tasks_path(@project, list), :method =>:post %></li>
								<li role="presentation" class="divider"></li>
								<li role="presentation"><%= link_to 'Liste löschen <i class="fa fa-exclamation-circle"></i>'.html_safe, project_list_path(project_id:@project, list_id:list), method: :delete, :confirm => "Soll die Liste wirklich gelöscht werden?" %></li>
							</ul>
						</div>
					</h4>
<br/>  
					<!-- Get all Tasks in the List and renders them-->  
					<% list.tasks.each do |task| %>

						<!-- Drag & Drop target Div -->
						<div class ="droptarget task<%= task.id %> list<%= list.id %>" ondrop = "dropEvent(event, '<%= task.position %>', '<%= task.list.id %>');"></div>
<br/>
						<div class="panel panel-default task<%= task.id %>  list<%= list.id %> draggable" draggable="true" ondragstart = "dragstartEvent(event, '<%= task.id %>', '<%= task.position %>', '<%= task.list.id %>');">
							<!-- task header -->
							<div class="panel-heading">

								<!-- gets the to this task assigned user -->
								<% assigned_user = task.users.first %>						
								
								<!-- opens the task modal on click to edit its values. Changes will be saved with Ajax call. -->
								<% if assigned_user.present? %>
									<%  assigned_user_id = assigned_user.id %>
								<% else %>
									<% assigned_user_id = NIL %>
								<% end %>
								
								<a class ="task_modal" onClick = "updateTask(<%= task.id %>, '<%= task.titel %>','<%= task.text %>', '<%= assigned_user_id %>', '<%= task.priority %>', '<%= task.deadline %>' );">
									<strong>
									
								<% case task.priority
								  when "low" %><i class="fa fa-dot-circle-o priority-low"></i>
								  <% when "medium" %><i class="fa fa-dot-circle-o priority-medium"></i>
								  <% when "high" %><i class="fa fa-dot-circle-o priority-high"></i>
								<% end %>
													
								<%= task.titel %>
									</strong>
								</a>
								
								<!-- shows the to this task assigned user, if there is any -->
								
								
								<% if assigned_user.present? %>
									<!-- Needed to set the default value of the tasks modal-->
									<% task_user_id = assigned_user.id %> 
									
									<!-- renders the user initials and the avatar -->
									<div class="user-batch">
										<%= image_tag avatar_url(assigned_user, 30), :class => "user-image" %>
										<div class="user-name">
											<%= assigned_user.firstname.first %><%= assigned_user.lastname.first %>
										</div>
									</div>
									
								<% else %>
									<!-- default value if there are no assinged users, because all user ids are greater equals 0 -->
									<% task_user_id = -1 %>
								<% end %>  

								<!-- button to delete the task. Opens confirmation window before -->
								<%= link_to '&times;'.html_safe, project_list_task_path(project_id:@project, list_id:list, task_id:task), method: :delete, :class => "close pull-right", :confirm => "Soll die Aufgabe wirklich gelöscht werden?" %>
				  
							</div> <!-- /task header -->
					
							<div class="panel-body">
								<%= task.text %>
<br>
<br>
							<% if task.deadline.present? %>
								<!-- task footer in the body that displays the remaining time for a task -->
								<small class="text-weak">   
									<!-- clock symbol -->
									<i class="fa fa-clock-o"></i> 
									
									Endet in <%= distance_of_time_in_words(Time.now.utc.localtime, task.deadline.to_datetime) %>
								</small>
							<% end %>
<br>
							</div> <!-- /task header -->
						</div> <!-- / task panel -->
					<% end %> <!-- /tasks loop -->
		  
				</div>
			</div>

			<!-- TODO: wofür war der block? -->
			<!-- changes the background color of the -->
			<% if (n+1)%2 == 0 %>
				<div class="clearfix visible-sm"></div>
			<% end %>

			<% if (n+1)%3 == 0 %>
				<div class="clearfix visible-md"></div>
			<% end %>

			<% if (n+1)%4 == 0 %>
				<div class="clearfix visible-lg"></div>
			<% end %>

			<% n = n+1%>
		
		<% end %> <!-- /lists loops -->

		<!-- Add an additional List on click -->
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="well well-lg">
				<h4><strong><%= link_to 'Neue Liste anlegen...',  project_lists_path(@project), :method => :POST %></strong></h4>
			</div>
		</div>	
	</div> <!-- row -->

	<hr>

	<%= link_to 'Projekt löschen', project_path(:project_id => @project), method: :delete, :confirm => "Soll das Projekt wirklich gelöscht werden?", :class => 'btn btn-danger' %>
	<br>
	<br>
	<%= link_to 'Zur Projektübersicht', projects_path, :class => 'btn btn-default' %>
</div>

<!-- modal partials -->
<%= render 'task_modal' %>
<%= render 'settings_modal' %>  
