<div class=""id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1><%= @project.name %> <small>Organisation</small></h1>
		
			<ol class="breadcrumb">
				<li><%= link_to '<i class="fa fa-dashboard"></i> Dashboard'.html_safe , root_path %></li>
				<li><%= link_to '<i class="fa fa-clipboard"></i> Meine Projekte'.html_safe , projects_path %></li>
				<li class="active"><i class="fa fa-clipboard"></i> <%= @project.name %></li>
				<span class="pull-right"><a class="text-weak" data-toggle="modal" data-target="#settingsModal"><i class="fa fa-gear"></i></a></span>
			</ol><!-- /breadcrumb -->
      
		</div><!-- /col-lg-12 -->
	</div><!-- /row -->
</div><!--/page wrapper -->
<ul class="lists-ul">
<% @lists.each do |list| %>	<%#  List loop %>
  <li class="lists-li">
    <div class="well well-lg lists-well">
      <!-- Lists navigations links -->
      <!-- TODO: replace with drag and drop -->
		  <%= link_to '<i class="fa fa-arrow-circle-left"></i>'.html_safe, list_move_down_path(:list_id => list), :method => :POST if list != @lists.first %>
			<%= link_to '<i class="fa fa-arrow-circle-right"></i>'.html_safe, list_move_up_path(:list_id => list), :method => :POST if list != @lists.last %>
      
      <!-- list header, changes to input field for list name on click -->
			<h4> <strong class="list-title" onClick = "updateList(this, <%= list.id%>);"><%= list.name %></strong>
        <!-- listbutton for dropdownlist [deprecated]-->
			  <!-- <a class="text-weak" onClick = "toggleList(this, <%= list.id %>)"><i class="fa fa-chevron-down"></i></a>--><!-- /listbutton for dropdownlist -->
        <!-- lists dropdown menu -->
				<div class="dropdown pull-right">
				<!-- settings for the list. Allows to add a new task and delete the whole list -->
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span class="fa fa-bars"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation"><%= link_to 'Aufgabe anlegen', project_list_tasks_path(@project, list), :method =>:post %></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation"><%= link_to 'Liste löschen <i class="fa fa-exclamation-circle"></i>'.html_safe, project_list_path(project_id:@project, list_id:list), method: :delete, :confirm => "Soll die Liste wirklich gelöscht werden?" %></li>
					</ul>
				</div><!-- /lists dropdown menu -->
      </h4><!-- list header -->
      
      <br/>
      
      <!-- Get all Tasks in the List and renders them-->
      <% ordered_tasks = list.tasks.order("position DESC") %>
			<% ordered_tasks.each do |task| %><%# tasks loop %>
      
			<!-- TODO: Dynamisch mit coffescript hinzufügen, vor alle tagged elemente -->
			<!-- Drag & Drop target Div -->
			<div class ="droptarget task<%= task.id %> position<%=task.position%> list<%= list.id %>" ondrop = "dropEvent(event, '<%= task.position %>', '<%= task.list.id %>');"></div>
      <!-- /Drag & Drop target div -->
      
      <!-- task -->
			<div class="panel panel-default task<%= task.id %> position<%=task.position%>  list<%= list.id %> draggable" draggable="true" ondragstart = "dragstartEvent(event, '<%= task.id %>', '<%= task.position %>', '<%= task.list.id %>');">
        <!-- task header -->
				<div class="panel-heading">
          <%# Select and display the priority %>
          <% case task.priority
            when "low" %><div class="priority priority-low"></div>
            <% when "medium" %><div class="priority priority-medium"></div>
            <% when "high" %><div class="priority priority-high"></div>
            <% end %>
            <%# /priority select%>
            
            <%# Gets the to this task assigned user %>
						<% assigned_user = task.users.first %>
            <!-- shows the to this task assigned user, if there is any -->
						<% if assigned_user.present? %>
              <%# Needed to set the default value of the tasks modal %>
							<%  assigned_user_id = assigned_user.id %>
              <!-- renders the user short batch with initials and his avatar -->
							<div class="user-batch batch-task">
								<%= image_tag avatar_url(assigned_user, 30), :class => "user-image" %>
								<div class="user-name">
									<%= assigned_user.firstname.first %><%= assigned_user.lastname.first %>
								</div><!-- /user initials -->
							</div><!-- /user batch -->
            <% else %>
              <% assigned_user_id = NIL %>
            <% end %>
            
            <!-- Task title -->
            <div class="<%= get_title_class(assigned_user) %>">
              <!-- opens the task modal on click to edit its values. Changes will be saved with Ajax call. -->
							<a class ="task_modal" onClick = "updateTask(<%= task.id %>, '<%= task.titel %>','<%= task.text %>', '<%= assigned_user_id %>', '<%= task.priority %>', '<%= task.deadline %>' );">
								<strong>
                  <%= task.titel %>
								</strong>
							</a><!-- /Link to task edit modal -->
              <!-- button to delete the task. Opens confirmation window before -->
							<%= link_to '&times;'.html_safe, project_task_path(project_id:@project, task_id:task), method: :delete, :class => "close", :confirm => "Soll die Aufgabe wirklich gelöscht werden?" %>
            </div><!-- /Task title -->
        </div><!-- /task header -->
        
        <!-- Task description body -->
        <div class="panel-body">
          <!-- Task description -->
          <%= task.text %>
          <br>
          <br>
          <%# Show deadline if it is set %>
          <% if task.deadline.present? %>
          <!-- task footer in the body that displays the remaining time for a task -->
					<small class="text-weak">
            <!-- clock symbol -->
						<i class="fa fa-clock-o"></i>
            Endet in <%= distance_of_time_in_words(Time.now.utc.localtime, task.deadline.to_datetime) %>
          </small><!-- /Task footer -->
          <% end %>
        </div><!-- /Task description body -->
      </div><!-- /task -->
      <% end %> <%# /task loop%>
      <!-- Default Drag & Drop target Div -->
      <div class ="droptarget position0 list<%= list.id %>" ondrop = "dropEvent(event, 0, '<%= list.id %>');"></div>
    </div><!-- /lists-well -->
  </li>
  <% end %><%# /List loop %>
  
  <!-- Add an additional List on click -->
  <li class="lists-li">
	  <div class="well well-lg">
			<h4><strong><%= link_to 'Neue Liste anlegen...',  project_lists_path(@project), :method => :POST %></strong></h4>
		</div>
  </li><!-- add list button -->
</ul><!-- /lists-ul -->

<!-- modal partials -->
<%= render 'task_modal' %>
<%= render 'settings_modal' %> 

