<%# navigation styled for Bootstrap 3.0 %>

<div id="wrapper">
<!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to '<i class="fa fa-puzzle-piece"></i> Koala Management'.html_safe , root_path, :class => 'navbar-brand' %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to '<i class="fa fa-dashboard"></i> Dashboard'.html_safe , root_path %></li>
            <li><%= link_to '<i class="fa fa-clipboard"></i> Projekte'.html_safe , projects_path %></li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
          <% if user_signed_in? %>
            <li class="dropdown messages-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Nachrichten <span class="badge"><%= current_user.mailbox.inbox(:read => false).count(:id, :distinct => true).to_s %></span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header"><%= current_user.mailbox.inbox(:read => false).count(:id, :distinct => true).to_s %> Neue Nachrichten</li>
                <% current_user.mailbox.inbox(:read => false).order('updated_at ASC').each_with_index do |conversation, n| %>
                <% if (n<3)%>
                <% @User = User.where(email: conversation.last_sender.email).first%>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name"><%= @User.firstname %> <%= @User.lastname%></span>
                    <span class="message"><%=raw truncate(conversation.last_message.body, :length => 40,  :omission => "...") %></span>
                    <span class="time"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(conversation.created_at) %></span>
                  </a>
                </li>
                <li class="divider"></li>
                <% end %>
                <% end %>
                <li><%= link_to "Posteingang öffnen", conversations_path  %></li>
              </ul>
            </li>
            
            <li class="dropdown alerts-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alerts <span class="badge">3</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Default <span class="label label-default">Default</span></a></li>
                <li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>
                <li><a href="#">Success <span class="label label-success">Success</span></a></li>
                <li><a href="#">Info <span class="label label-info">Info</span></a></li>
                <li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>
                <li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>
                <li class="divider"></li>
                <li><a href="#">Alle ansehen</a></li>
              </ul>
            </li>
            <% end %>
            
            
            <% if current_user %>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= " #{current_user.firstname}  #{current_user.lastname} " %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to '<i class="fa fa-user"></i> Profil'.html_safe , edit_user_registration_path %></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Posteingang <span class="badge">7</span></a></li>
                <li><a href="#"><i class="fa fa-gear"></i> Einstellungen</a></li>
                <li class="divider"></li>
                <li><%= link_to '<i class="fa fa-power-off"></i> Abmelden'.html_safe, destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
            <% else %>
            <li><%= link_to " Einloggen ", new_user_session_path %> </li>
            <li><%= link_to " Registrieren ", new_user_registration_path %></li>
            <% end %>
            
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div>

