<%# navigation styled for Bootstrap 3.0 %>

<div id="wrapper">
<!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to '<i class="fa fa-puzzle-piece"></i> Koala Management'.html_safe , root_path, :class => 'navbar-brand' %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to '<i class="fa fa-dashboard"></i> Dashboard'.html_safe , root_path %></li>
            <li><%= link_to '<i class="fa fa-clipboard"></i> Projekte'.html_safe , projects_path %></li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown messages-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Nachrichten <span class="badge">6</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">6 Neue Nachrichten</li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">Michael Landreh:</span>
                    <span class="message">Hey there, I wanted to ask you something...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 7:44 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">John Smith:</span>
                    <span class="message">Hey there, I wanted to ask you something...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">John Smith:</span>
                    <span class="message">Hey there, I wanted to ask you something...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li><a href="#">Posteingang öffnen <span class="badge">6</span></a></li>
              </ul>
            </li>
            
            <li class="dropdown alerts-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alerts <span class="badge">3</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Default <span class="label label-default">Default</span></a></li>
                <li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>
                <li><a href="#">Success <span class="label label-success">Success</span></a></li>
                <li><a href="#">Info <span class="label label-info">Info</span></a></li>
                <li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>
                <li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>
                <li class="divider"></li>
                <li><a href="#">Alle ansehen</a></li>
              </ul>
            </li>
            
            
            
              <% if current_user %>
              <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= " #{current_user.firstname}  #{current_user.lastname} " %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to '<i class="fa fa-user"></i> Profil'.html_safe , edit_user_registration_path %></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Posteingang <span class="badge">7</span></a></li>
                <li><a href="#"><i class="fa fa-gear"></i> Einstellungen</a></li>
                <li class="divider"></li>
                <li><%= link_to '<i class="fa fa-power-off"></i> Abmelden'.html_safe, destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
            <% else %>
              <li><%= link_to " Einloggen ", new_user_session_path %> </li>
              <li><%= link_to " Registrieren ", new_user_registration_path %> </li>
            <% end %>
            
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div>

